# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DreamWever\个人简历\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
